*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/key/
/app/build/
**/__pycache__/
*.py[cod]
*.md
!README.md
!README_RU.md
!CHANGELOG.md
!PROJECT_REPORT.md
